In [24]:
import pandas as pd
import urllib
detail = urllib.parse.quote('서울교통공사_자치구별지하철역정보_20250317.CSV')
print(detail)
url = 'https://github.com/addinedu-ros-9th/eda-repo-5/blob/main/data/'+detail+'?raw=true'
data = pd.read_csv(url,encoding='euc-kr')
data.head(32)
data = data[:25]
data.head(32)
data = data.loc[:,['자치구','역개수']]

%EC%84%9C%EC%9A%B8%EA%B5%90%ED%86%B5%EA%B3%B5%EC%82%AC_%EC%9E%90%EC%B9%98%EA%B5%AC%EB%B3%84%EC%A7%80%ED%95%98%EC%B2%A0%EC%97%AD%EC%A0%95%EB%B3%B4_20250317.CSV

In [25]:
for i,row in data.iterrows():
    print(row)

자치구    강남구
역개수     21
Name: 0, dtype: object
자치구    강동구
역개수     15
Name: 1, dtype: object
자치구    강북구
역개수      3
Name: 2, dtype: object
자치구    강서구
역개수      9
Name: 3, dtype: object
자치구    관악구
역개수      4
Name: 4, dtype: object
자치구    광진구
역개수     11
Name: 5, dtype: object
자치구    구로구
역개수      7
Name: 6, dtype: object
자치구    금천구
역개수      1
Name: 7, dtype: object
자치구    노원구
역개수     13
Name: 8, dtype: object
자치구    도봉구
역개수      3
Name: 9, dtype: object
자치구    동대문구
역개수       6
Name: 10, dtype: object
자치구    동작구
역개수     12
Name: 11, dtype: object
자치구    마포구
역개수     16
Name: 12, dtype: object
자치구    서대문구
역개수       5
Name: 13, dtype: object
자치구    서초구
역개수     12
Name: 14, dtype: object
자치구    성동구
역개수     14
Name: 15, dtype: object
자치구    성북구
역개수      9
Name: 16, dtype: object
자치구    송파구
역개수     28
Name: 17, dtype: object
자치구    양천구
역개수      5
Name: 18, dtype: object
자치구    영등포구
역개수      11
Name: 19, dtype: object
자치구    용산구
역개수     10
Name: 20, dtype: object
자치구    은평구
역개수     13
Name: 21, dtype: object
자치구    종로구
역개수     15
Name: 22, dtype: object
자치구    중구
역개수    23
Name: 23, dtype: object
자치구    중랑구
역개수      8
Name: 24, dtype: object

In [38]:
import mysql.connector

ojk = mysql.connector.connect(
    host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "eda",
    password = "ojk0707",
    database = "ojk"
)

mycursor = ojk.cursor()


for i,row in data.iterrows():
    #테이블에서 존재하던 기존 중복 데이터 삭제
    sql = "delete from station where gu= %s and station= %s"
    mycursor.execute(sql,(row['자치구'],row['역개수']))
    #테이블에서 존재하던 새 데이터 삽입
    sql = "insert into station values (%s, %s)"
    mycursor.execute(sql,(row['자치구'],row['역개수']))
ojk.commit()

#table 삽입된 데이터 aws db에서 확인
sql = "select * from station"
mycursor.execute(sql)
result = mycursor.fetchall()
for row in result:
    print(row)

('강남구', 21)
('강동구', 15)
('강북구', 3)
('강서구', 9)
('관악구', 4)
('광진구', 11)
('구로구', 7)
('금천구', 1)
('노원구', 13)
('도봉구', 3)
('동대문구', 6)
('동작구', 12)
('마포구', 16)
('서대문구', 5)
('서초구', 12)
('성동구', 14)
('성북구', 9)
('송파구', 28)
('양천구', 5)
('영등포구', 11)
('용산구', 10)
('은평구', 13)
('종로구', 15)
('중구', 23)
('중랑구', 8)