In [1]:
import mysql.connector

ojk = mysql.connector.connect(
    host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "eda",
    password = "ojk0707",
    database = "ojk"
)

### select 함수

In [2]:
import mysql.connector

def select_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    results = cursor.fetchall()  # 모든 결과를 읽습니다
    ojk.close()

    cursor.close()
    return results

-------------

### sql 실행 함수

In [1]:
import mysql.connector

def execute_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    ojk.commit()
    cursor.close()

In [26]:
execute_sql("use ojk")

In [22]:
execute_sql("drop table spot")

In [ ]:
execute_sql("TRUNCATE TABLE spot")

In [41]:
execute_sql("ALTER TABLE station add COLUMN t1830_t1900 float")

In [ ]:
execute_sql("use ojk")

In [ ]:
execute_sql("ALTER TABLE spot MODIFY COLUMN uv_idx int")

In [19]:
select_sql("desc spot")

[('datetime', 'int', 'NO', 'PRI', None, ''),
 ('resion', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('station', 'varchar(10)', 'YES', '', None, ''),
 ('gu', 'varchar(5)', 'YES', '', None, ''),
 ('min_population', 'int', 'YES', '', None, ''),
 ('max_population', 'int', 'YES', '', None, ''),
 ('temp', 'int', 'YES', '', None, ''),
 ('precipitation', 'int', 'YES', '', None, ''),
 ('rain_chance', 'int', 'YES', '', None, ''),
 ('precpt_type', 'varchar(128)', 'YES', '', None, ''),
 ('air_idx', 'varchar(128)', 'YES', '', None, ''),
 ('sky_stts', 'varchar(128)', 'YES', '', None, ''),
 ('humidity', 'int', 'YES', '', None, ''),
 ('wind_spd', 'float', 'YES', '', None, ''),
 ('uv_idx', 'int', 'YES', '', None, '')]

In [8]:
select_sql("select * from spot")

[]

In [25]:
execute_sql("""
CREATE TABLE spot (
    datetime DATETIME NOT NULL, 
    region VARCHAR(16) NOT NULL, 
    station VARCHAR(16),
    gu VARCHAR(16),
    min_population INT,
    max_population INT,
    temp INT,
    precipitation INT,
    rain_chance INT,
    precpt_type VARCHAR(16),
    air_idx VARCHAR(16), 
    sky_stts VARCHAR(16),
    humidity INT,
    wind_spd FLOAT,
    uv_idx INT,
    PRIMARY KEY (datetime, region)
)
""")

In [9]:
select_sql("select ")

ProgrammingError: 1146 (42S02): Table 'ojk.spot' doesn't exist

In [ ]:
execute_sql("ALTER TABLE spot DROP PRIMARY KEY, CHANGE COLUMN name resion varchar(255) NOT NULL, ADD PRIMARY KEY (resion)")

---------------