In [1]:
import mysql.connector

ojk = mysql.connector.connect(
    host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "eda",
    password = "ojk0707",
    database = "ojk"
)

### select 함수

In [16]:
import mysql.connector

def select_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    results = cursor.fetchall()  # 모든 결과를 읽습니다
    ojk.close()
    return results

-------------

### sql 실행 함수

In [ ]:
import mysql.connector

def execute_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    ojk.commit()
    cursor.close()

---------------

In [ ]:
execute_sql("""CREATE TABLE spot (
   datetime INT not null,
   name VARCHAR(255) not null,
   gu VARCHAR(255),
   min_population INT,
   max_population INT,
   temp INT,
   precipitation INT,
   rain_chance INT,
   precpt_type VARCHAR(50),
   air_idx VARCHAR(50),
   sky_stts VARCHAR(50),
   humidity INT,
   wind_spd FLOAT,
   PRIMARY KEY (datetime, name)
)""")

In [57]:
result = select_sql("desc spot")
result

[('datetime', 'int', 'NO', 'PRI', None, ''),
 ('name', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('gu', 'varchar(255)', 'YES', '', None, ''),
 ('min_population', 'int', 'YES', '', None, ''),
 ('max_population', 'int', 'YES', '', None, ''),
 ('temp', 'int', 'YES', '', None, ''),
 ('precipitation', 'int', 'YES', '', None, ''),
 ('rain_chance', 'int', 'YES', '', None, ''),
 ('precpt_type', 'varchar(50)', 'YES', '', None, ''),
 ('air_idx', 'varchar(50)', 'YES', '', None, ''),
 ('sky_stts', 'varchar(50)', 'YES', '', None, ''),
 ('humidity', 'int', 'YES', '', None, ''),
 ('wind_spd', 'float', 'YES', '', None, '')]