### select 함수

In [2]:
import mysql.connector

def select_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    results = cursor.fetchall()  # 모든 결과를 읽습니다
    ojk.close()

    cursor.close()
    ojk.close()
    return results

-------------

### sql 실행 함수

In [1]:
import mysql.connector

def execute_sql(sql):
    ojk = mysql.connector.connect(
        host = "database-1.cnu82kme6p4d.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "ojk0707",
        database = "ojk"
    )
    cursor = ojk.cursor()

    cursor.execute(sql)

    ojk.commit()
    cursor.close()
    ojk.close()

In [3]:
execute_sql("use ojk")

In [12]:
execute_sql("ALTER TABLE population add COLUMN region varchar(10)")

In [ ]:
execute_sql("""SELECT 
        name,
        AVG((
            t1000 + t1030 + t1100 + t1130 + t1200 + t1230 +
            t1300 + t1330 + t1400 + t1430 + t1500 + t1530 +
            t1600 + t1630 + t1700 + t1730 + t1800 + t1830
        ) / 18) AS AverageCongestion
    FROM station
    WHERE Day IN ('토요일', '일요일')
    GROUP BY name""")

In [7]:
select_sql("desc weather_rain")

[('day', 'datetime', 'YES', '', None, ''),
 ('max_rain', 'float', 'YES', '', None, ''),
 ('max_wind', 'float', 'YES', '', None, ''),
 ('weekday', 'varchar(10)', 'YES', '', None, '')]

In [26]:
execute_sql("truncate table population")

In [6]:
select_sql("select weekday from weather_rain")

[]

In [8]:
select_sql("select * from weather_rain")

[]

In [9]:
execute_sql("""create table population( 
            id int not null AUTO_INCREMENT,
            day datetime not null,
            region varchar(10),
            Daytime_person int,
            move_person int,
            primary key(id))""")

---------------